{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form, {'method': 'post', 'action':
 path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}

 ) }}


                          
<table >
    <tr><td>{{ form_label(form.nom) }}</td><td>{{ form_widget(form.nom) }} </td></tr>  
    <tr><td>{{ form_label(form.prenom) }}</td><td>{{ form_widget(form.prenom) }} </td></tr>  
    <tr><td>{{ form_label(form.email) }}</td><td>{{ form_widget(form.email) }} </td></tr>  
    <tr><td>{{ form_label(form.username) }}</td><td>{{ form_widget(form.username) }} </td></tr>  
    <tr><td>{{ form_label(form.plainPassword) }}</td><td>{{ form_widget(form.plainPassword) }} </td></tr>  
    
    <tr><td>{{ form_label(form.roles) }}</td><td>{{ form_widget(form.roles) }} </td></tr> 
    <tr><td>  <input type="submit" value="{{ 'registration.submit'|trans }}" /></td>
        <td>  </td>
    </tr> 
 </table>  
     
{{ form_end(form) }}